{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> Symbol </th>
          <th scope="col"> Shares </th>
          <th scope="col"> Price </th>
          <th scope="col"> Time </th>
          <th scope="col"> Type</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>  {{ transaction["symbol"].upper() }} </td>
          <td>  {{ transaction["shares"] }}  </td>
          <td>  {{ usd(transaction["price"]) }}  </td>
          <td>  {{ transaction["time"] }}  </td>
          <td>  {{ transaction["type"] }}  </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}