{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select  name="symbol" class="form-control mx-auto w-auto mb-3" aria-label="Default select">
              {% for symbol in symbols %}
              <option>{{ symbol["symbol"] }}</option>
              {% endfor %}
            </select>
            <input required class="form-control mx-auto w-auto mb-3" name="shares" placeholder="shares" type="number" min="1">
        </div>
        <button class="form-group btn btn-primary" type="submit">Sell</button>


        {% if invalid %}
        <!--TODO: ALERT: insufficient share quantity to sell-->
        <div class="alert alert-warning" role="alert" > "Insufficient {{symbol}} Shares to Sell." </div>
        {% endif %}
    </form>
{% endblock %}